<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user.id == current_user %>
    <p><%= link_to "プロフィール編集", @user %></p>
  <% end %>
</div>

<% @book.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>